cache
coverage
lib
node_modules
src
test

.devwebpackrc.json
.editorconfig
.eslintrc.json
.eslinttypescriptrc.json
.gitignore
.jestrc.json
.jesttypescriptrc.json
.lintstagedrc.json
.prettierrc.json
.typescriptrc.json
.webpackrc.json
citation.cff
codeowners
dockerfile
license
